name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

permissions:
  contents: read
  pull-requests: write

env:
  MAIN_GO_VERSION: 1.23

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.3.0
          args: --timeout=5m

  test-postgres:
    name: Integration tests [PostgreSQL]
    uses: ./.github/workflows/integration-test.yml
    permissions:
      contents: write
      pull-requests: write
    with:
      main_go_version: '1.23'
      db_driver: 'postgres'
      db_dsn: 'postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable'

  test-mysql:
    name: Integration tests [MySQL]
    uses: ./.github/workflows/integration-test.yml
    permissions:
      contents: write
      pull-requests: write
    with:
      main_go_version: '1.23'
      db_driver: 'mysql'
      db_dsn: 'root:root@tcp(localhost:3306)/goque?parseTime=true&loc=UTC'

  report-coverage:
    name: Report Coverage
    uses: ./.github/workflows/coverage.yml
    needs: [test-postgres, test-mysql]
    permissions:
      contents: write
      pull-requests: write
